{{#section 'head'}}
    <script src="/javascripts/landing.js"></script>
{{/section}}

<section id="welcome">
    <div>
        Welcome
    </div>
    <span>
        <input type="text" id="nickname" placeholder="Enter a nickname">
    </span>
    <a href="/rooms" type="button" class="btn" id="startchat">Start</a>
</section>